<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>ABC Friends - SA/NT :: <%= current_page.data.title %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>

    <%# Fonts %>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :bootstrap_overrides %>
    <%= stylesheet_link_tag :layout %>
    <%= stylesheet_link_tag page_classes.split.first %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://www.google.com/recaptcha/api.js' %>
    <%= javascript_include_tag :facebook %>


  </head>

  <body class="<%= page_classes %>">
    <div id="banner">
      <div class="container no-padding">
        <h1 class="pull-left no-margins" style="position: absolute" role="logo">
          <%= image_tag "logo.jpg", width: 150, id: "abc-friends-logo", class: "" %>
          <span class="states">SA <span class="small muted">&</span> NT</span>
        </h1>

        <div id="social" class="pull-right">
          <div class="fb-like" data-href="https://www.facebook.com/AbcFriendsSANT/" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-abcfriends">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">

            <div id="mobile-nav" class="hidden-lg hidden-md hidden-sm" style="margin-top: 11px;">
              <%= yield_content :mobile_nav %>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>  
              Menu <i class="fa fa-bars fa-fw"></i>
            </button>
          </div>

          <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if page_classes.include?('news') || page_classes == "index" %>"><a href="/">Local News</a></li>

              <% data.menu.each do |page| %>
                <li class="<%= 'active' if page_classes.include?(page.path.match(/\/([^.]*)/)[1]) %>">
                  <%= link_to page.name, page.path, page.options %>
                </li>
              <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to '<i class="fa fa-fw fa-heart"></i> Donate', "https://www.abcfriends.org.au/index.php/donate-to-the-fighting-fund/", target: '_blank' %></li>
              <li><%= link_to '<i class="fa fa-fw fa-facebook-square"></i> Facebook Page', "https://www.facebook.com/AbcFriendsSANT", target: '_blank' %></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <%= yield_content :header %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
