---
title: News
---

<div class="row">
  <!-- News Section -->
  <section id="articles" class="col-md-8" role="content">
    <h1 style="margin-left: 10px;">Latest News</h1>

    <% data.news.articles.each do |article| %>
      <article>
        <h3><%= article.name %> <small><%= article.published %></small></h3>

        <div class="extract">
          <%= partial("/news/articles/#{article_pathname(article)}.md") %>
        </div>
      
        <p><%= link_to '<i class="fa fa-fw fa-newspaper-o"></i> Read...', "/news/#{article_pathname(article)}.html", class: "btn btn-default" %></p>
      </article>
    <% end %>
  </section><!-- End News Section -->

  <!-- Sidebar -->
  <aside class="col-md-4">
    <div class="jumbotron jumbotron-abcfriends text-center no-x-padding">
      <h2>Save Our ABC</h2>
      <blockquote>
        <p>&ldquo;Please join us. Let us ensure we remove the fear of NO ABC in the future.&rdquo;</p>
        <footer class="small">Ranald Macdonald, Former Managing Director of The Age</footer>
      </blockquote>
      <%= link_to "Join The National Campaign!", "https://www.abcfriends.org.au", class: "btn btn-abcfriends-primary", target: '_blank' %>
    </div>
  </aside>
</div>